.header-btn {
    border: none;
    transition: .4s;
}

.header-btn:hover {
    background-color: #3A4256;
    color: white;
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

.camera-logo {
    height: 40px;
}

.header-style {
    background-image: url("../../../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px
}